@import "tailwindcss";

@theme {
  --color-gold: #D4AF37;
  --color-dark-grey: #1A1A1A;
  --color-black: #000000;
  --color-white: #FFFFFF;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Inter', sans-serif;
}
